<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/parts.html :: headerfiles">

</head>

<body>
<div th:replace="fragments/parts.html :: headerEx"></div>


<div class="container editContainer mt-0 pb-5">
    <h1 class="h1 text-center editT pt-5 py-3">Add New Recipe</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/recipes/addRecipe" method="POST" enctype="multipart/form-data" class="editForm">
                <div class="form-group">
                    <label for="title">Recipe title</label>
                    <input type="text"
                           class="form-control"
                           id="title"
                           name="title"
                           required
                           placeholder="Enter recipe title">
                </div>
                <div class="form-group">
                    <label for="desc">Recipe description</label>
                    <input type="text"
                           class="form-control"
                           id="desc"
                           name="description"
                           required
                           placeholder="Description">
                </div>

                <div class="form-row">
                    <div class="col-6">
                        <label>Meal</label>
                        <select name="meal" class="form-control" required>

                            <option
                                    th:each="meal : ${dto.getAllMeals()}"
                                    th:value="${meal.getId()}"
                                    th:text="${meal.getName()}">
                            </option>
                        </select>
                    </div>

                    <div class="col-6">
                        <label>Cuisine</label>
                        <select name="cuisine" class="form-control" required>

                            <option
                                    th:each="cuisine : ${dto.getAllCuisines()}"
                                    th:value="${cuisine.getId()}"
                                    th:text="${cuisine.getName()}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="mt-4 mb-2">Special &nbsp; Considerations</div>
                <div class="form-group form-check-inline " th:each="sc : ${dto.getAllCons()}">

                    <label>
                        <input type="checkbox" name="considerations" class="form-control form-check-input "
                               th:text="${sc.getName()}" th:value="${sc.getId()}" style="height: 1vw;">
                    </label>

                </div>

                <div class="form-group">
                    <div>Ingredients
                        <button id="addRowIngr" type="button" class="modifiedB">+</button>
                    </div>
                    <div class="d-flex mb-3">
                        <input type="number" name="ingredientQuantities" class="form-control m-input mr-2" min="0"
                               required>
                        <select name="ingredientMeasurements" class="form-control mr-2" required>

                            <option
                                    th:each="measurement : ${dto.getAllMeasurements()}"
                                    th:value="${measurement.toString()}"
                                    th:text="${measurement.toString()}">
                            </option>
                        </select>
                        <input type="text" name="ingredientNames" class="form-control m-input"
                               placeholder="Enter ingredient" required
                               autocomplete="off">
                    </div>
                    <div id="newRowIngr"></div>


                </div>


                <div>Prep time</div>
                <div class="form-group">

                    <div class="row">
                        <input type="number" class="form-control col-4 ml-4 mr-2" id="prep" min="0"
                               name="prepH" placeholder="hours" required>

                        <input type="number" class="form-control col-4" id="prepMin" name="prepM" min="0" max="59"
                               placeholder="mins" required>
                    </div>
                </div>


                <div>Cook time</div>
                <div class="form-group">

                    <div class="row">
                        <input type="number" class="form-control col-4 ml-4 mr-2" id="cook" min="0"
                               name="cookH" placeholder="hours" required>

                        <input type="number" class="form-control col-4" id="cookMin" name="cookM" min="0" max="59"
                               placeholder="mins" required>
                    </div>
                </div>


                <div class="form-group">
                    <label for="keywords">Keywords</label>
                    <input type="text"
                           class="form-control"
                           id="keywords"
                           name="tagList"
                           placeholder="Keywords" required>
                </div>

                <div class="form-group">
                    <label for="images">Upload image</label>
                    <input type="file" multiple
                           class="form-control"
                           id="images"
                           name="images"
                           placeholder="Upload images" required>
                </div>
                <div class="form-group">
                    <div>Instructions
                        <button id="addRow" type="button" class="modifiedB">+</button>
                    </div>

                    <input type="text" name="instructions" class="form-control m-input mb-2" placeholder="Enter instruction"
                           autocomplete="off" required>
                    <div id="newRow"></div>


                </div>

                <input type="hidden" name="author" th:value="${#request.getRemoteUser()}">
                <button type="submit" class="btn formBtnJump rounded-0 mt-2 btn-block">SAVE RECIPE</button>

            </form>
        </div>
    </div>
</div>


<script type="text/javascript" th:inline="javascript">
    // add row
    $("#addRow").click(function () {

        var html = '';
        html += '<div id="inputFormRow">';
        html += '<div class="input-group mb-3">';
        html += '<input type="text" name="instructions" class="form-control m-input mr-2" placeholder="Enter instruction" autocomplete="off">';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow" type="button" class="btn removeModified p-0">&mdash;</button>';
        html += '</div>';
        html += '</div>';

        $('#newRow').append(html);
    });

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });


    $("#addRowIngr").click(function () {

        var modelAttributeValue = [[${measurements}]];

        var html = '';
        html += '<div id="inputFormRow">';
        html += '<div class="input-group mb-3">';
        html += '<input type="number" name="ingredientQuantities" class="form-control m-input mr-2" min="0" placeholder="Quantity">';
        html += '<select name="ingredientMeasurements" class="form-control mr-2">';

        var i;
        for (i = 0; i < modelAttributeValue.length; i++) {
            var itemM = modelAttributeValue[i];
            console.log(itemM);
            var opt = document.createElement("option");
            opt.setAttribute("value", itemM.toString());
            opt.text = itemM.toString();
            console.log(opt.outerHTML);
            html += opt.outerHTML;
        }
        html += '</select>';
        html += '<input type="text" name="ingredientNames" class="form-control m-input mr-2" placeholder="Ingredient name" autocomplete="off">';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow" type="button" class="btn removeModified p-0">&mdash;</button>';
        html += '</div>';
        html += '</div>';

        $('#newRowIngr').append(html);
    });

    // remove row
    $(document).on('click', '#removeRow', function () {
        $(this).closest('#inputFormRow').remove();
    });
</script>
<th:block th:replace="fragments/parts.html :: footer"></th:block>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>