<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>All recipes - Home page</title>
    <th:block th:replace="fragments/parts.html :: headerfiles"></th:block>

</head>

<body>
<div th:replace="fragments/parts.html :: headerEx"></div>



<div class="containerRecipes  px-5 pb-5 pt-3 mt-3 ">
    <h3 class="newestTitle pl-3 pt-3">Our newest recipes</h3>
    <div class="d-flex justify-content-center">
        <div class="w-100 mr-3 trans" th:each="rec : ${recents}">

            <div class="card h-100 w-100 ">
                <a th:href="@{'/recipes/details/{id}' (id=${rec.getId()})}">
                    <img th:src="@{${'/images/' + rec.getImages().get(0).getTitle()}}" class="card-img-top rounded-0"
                         alt="...">
                </a>
                <div class="card-body rounded-0 p-3">
                    <p class="card-text meal m-0 p-0" th:text="${rec.getMeal().name}"></p>
                    <h5 class="card-title recipeTitle" th:text="${rec.getTitle()}"></h5>
                </div>
                <div class="card-footer">
                    <p class="card-text authorInf pl-1" th:text="${'By: '+ rec.getAuthor().getUsername()}"></p>
                    <a th:href="@{'/recipes/addToSaved/{id}' (id=${rec.getId()})}" class="btn btnSave rounded-pill px-3">Save <i
                            class="fa-solid fa-bookmark"></i></a>
                </div>
            </div>


        </div>
    </div>
    <h3 class="newestTitle pl-3" style="margin-top: 3vw;">Trending now</h3>
    <div class="d-flex justify-content-center">
        <div class="w-100 mr-3 trans" th:each="rec : ${trendings}">

            <div class="card h-100 w-100 ">
                <a th:href="@{'/recipes/details/{id}' (id=${rec.getId()})}">
                <img th:src="@{${'/images/' + rec.getImages().get(0).getTitle()}}" class="card-img-top rounded-0"
                     alt="...">
                </a>
                <div class="card-body rounded-0 p-3">
                    <p class="card-text meal m-0 p-0" th:text="${rec.getMeal().name}"></p>
                    <h5 class="card-title recipeTitle" th:text="${rec.getTitle()}"></h5>
                </div>
                <div class="card-footer">
                    <p class="card-text authorInf pl-1" th:text="${'By: '+ rec.getAuthor().getUsername()}"></p>
                    <a th:href="@{'/recipes/addToSaved/{id}' (id=${rec.getId()})}" class="btn btnSave rounded-pill px-3">Save <i
                            class="fa-solid fa-bookmark"></i></a>
                </div>
            </div>


        </div>
    </div>

</div>


<th:block th:replace="fragments/parts.html :: footer"></th:block>

</body>
</html>
