<!DOCTYPE html>
<html lang="en" xmlns:HH="http://www.w3.org/1999/xhtml">
<head>

    <title>My recipes</title>
    <th:block th:replace="fragments/parts.html :: headerfiles"></th:block>

</head>
<body>
<th:block th:replace="fragments/parts.html :: headerEx"></th:block>
<div class="container  text-center m-0 p-0">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9">

             <span th:each="t : ${detailsDTO.getAllTags()}">
            <a href="#dynamicallyGenerated" th:text="${t.toString()}"
               class="btn my-3 ms-0 px-3 py-1 buy-tickets rounded mr-4"></a>
        </span>
        </div>


    </div>

</div>
<div class="container mt-2 py-4 recipeContainer">

    <div class="row big-screen">
        <div class="col-6 pr-0">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade mb-3" data-ride="carousel">
                <ol class="carousel-indicators mx-0">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner mb-0 pb-0 pr-0">
                    <div class="carousel-item active carouselDiv" data-interval="2000">

                        <img th:src="@{${'/images/' + detailsDTO.getRecipe().getImages().get(0).getTitle()}}"
                             class=" d-block w-100 imageShadow image-tumbnail" alt="...">

                    </div>
                    <div class="carousel-item carouselDiv" data-interval="2000">

                        <img th:src="@{${'/images/' + detailsDTO.getRecipe().getImages().get(0).getTitle()}}"
                             class="d-block w-100  imageShadow image-tumbnail" alt="...">


                    </div>
                    <div class="carousel-item carouselDiv">

                        <img th:src="@{${'/images/' + detailsDTO.getRecipe().getImages().get(0).getTitle()}}"
                             class="d-block w-100  imageShadow image-tumbnail" alt="...">

                    </div>

                </div>

            </div>
        </div>
        <div class="col-6 pt-0">
            <p class="event-title lh-1 mb-0 ms-0 ps-0 pt-2" th:text="${detailsDTO.getRecipe().getTitle()}">

            </p>
            <div class="row justify-content-start">
                <div class="col-6 pr-0 pl-4">
                    <p class="event-author lh-1 mb-4 ms-0 ps-0 pt-0 mt-0 pr-0"
                       th:text="${'Author: '+ detailsDTO.getRecipe().getAuthor().username}">

                    </p>
                </div>
                <div class="col-6 pl-0">
                    <p class="event-author lh-1 mb-4 ms-0 ps-0 pt-0 mt-0 pl-0" th:text="${'Created at: '+ detailsDTO.getFormatted()}">

                    </p>
                </div>
            </div>

            <p class="descriptionEvent mb-1 pb-0 ps-2 mt-2" th:text="${detailsDTO.getRecipe().getDescription()}">
            </p>
            <div class="d-flex justify-content-start my-2">
            <span class="prepInfo mr-3">
                <span>PREP TIME</span>
                <span th:text="${detailsDTO.getRecipe().getPrepInMins().intValue() + ' mins'}"></span>
            </span>
                <span class="prepInfo">
                <span>COOK TIME</span>
                <span th:text="${detailsDTO.getRecipe().getCookInMins().intValue() + ' mins'}"></span>
            </span>
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="#jumpRecipe" class="btn formBtnJump rounded-0 mt-2 d-block" type="submit">Jump to recipe <i
                            class="fa-solid fa-arrow-down"></i></a>
                </div>
                <div class="col-4">
                    <a href="#" class="btn formBtnSave mt-2 d-block" type="submit">Save <i
                            class="fa-solid fa-bookmark"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container text-center" id="jumpRecipe">
    <div class="row ">
        <div class="col-5 p-0 m-0">
            <p class="ingr-title lh-1 mb-0 ms-0 ps-0 pt-2">Ingredients</p>
        </div>
        <div class="col-7 m-0 p-0">
            <p class="ingr-title lh-1 mb-0 ms-0 pt-2 dirTag">Directions</p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-5">
            <div class="row ingrRow " th:each="ingr : ${detailsDTO.getAllIngr()}">
                <div class="col-3 pr-0"></div>
                <div class="col-9 pl-0 textDesc mt-2" th:text="${'&#8226;' + ' '+ ingr}"></div>

            </div>
        </div>
        <div class="col-7">
            <div class="row ingrRow" th:each="instr, iStat : ${detailsDTO.getAllInstr()}">
                <div class="col-3 pr-0"></div>
                <div class="col-9 pl-0 textDescDir mt-0">
                    <div class="row">
                        <div class="col-1 pr-0 pt-2">
                            <span th:text="${iStat.index+1 +'. '}" class="num"></span>
                        </div>
                        <div class="col-11 pl-0 instrRow pt-2">
                            <span th:text="${instr}"></span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">

</div>


<th:block th:replace="fragments/parts.html :: footer"></th:block>

</body>
</html>